* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav li {
    width: 50px;
    height: 50px;
    overflow: hidden;
    transition: width .5s ease-in-out,
                height .5s linear .5s;
}

.nav li:hover {
    width: 200px;
    height: 208px;
}

.nav li a{
    display: block;
    position: relative;
    background: #808080;
    margin: 2px;
    height: 50px;
    width: 200px;
    line-height: 50px;
    text-indent: 50px;
}

.nav li a:first-child:first-child::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

.nav li a:hover {
    background-color: #019898;
}

.nav li a:first-child {
    font-size: 1.2em;
}

.main-menu a:first-child::before {
    background: url("img/home.png") no-repeat center;
}

.settings a:first-child::before {
    background: url("img/settings.png") no-repeat center;
}

.link a:first-child::before {
    background: url("img/link.png") no-repeat center;
}

.search a:first-child::before {
    background: url("img/search.png") no-repeat center;
}

.box {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 150px;
    top: 10px;
    background: #06d0e0;
    transition: all 2s ease-in-out;
}

.box:hover {
    left: 500px;
    transform: rotate(45deg);
}
