@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
.no-list > li {
  display: inline-block;
}
.container {
  width: 100%;
  background: #fff;
}
.container:after {
  clear: both;
}
.row {
  display: table;
  margin: 0 auto;
}
@media screen and (min-device-width: 1200px) {
  .row {
    width: 1200px;
  }
}
@media screen and (min-device-width: 992px) and (max-device-width: 1200px) {
  .row {
    width: 960px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .row {
    width: 768px;
  }
}
@media screen and (max-device-width: 768px) {
  .row {
    width: 480px;
  }
}
.row:after,
.row:before {
  content: '';
  clear: both;
}
[class*='col-'] {
  float: left;
  margin: 0 0 1em;
  padding: 0 1em;
  box-sizing: border-box;
}
.middle {
  vertical-align: middle;
}
.top {
  vertical-align: top;
}
.banner {
  background: #F2F2F2;
}
@media screen and (max-device-width: 768px) {
  .banner {
    display: none;
  }
}
.menu {
  position: relative;
  padding-top: 40px;
}
.menu-link {
  display: inline-block;
  font-family: 'Proxima Nova', Arial, sans-serif;
  color: #000;
  text-decoration: none;
}
.logo {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 11px;
}
.menu-list .menu-item {
  font-size: 0;
}
.menu-list .menu-item a {
  font: 900 28px/35px "Proxima Nova", "Arial", sans-serif;
  color: #000;
  text-decoration: none;
}
.menu-list .menu-item a:hover {
  color: #003cff;
}
.menu-list .menu-item:after {
  content: ',';
  margin-right: 0.65em;
  font: 900 28px/35px "Proxima Nova", "Arial", sans-serif;
}
.menu-list .menu-item:last-child:after {
  content: none;
}
@media screen and (min-device-width: 1200px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 24.99%;
  }
  .col-lg-4 {
    width: 33.32%;
  }
  .col-lg-5 {
    width: 41.65%;
  }
  .col-lg-6 {
    width: 49.98%;
  }
  .col-lg-7 {
    width: 58.31%;
  }
  .col-lg-8 {
    width: 66.64%;
  }
  .col-lg-9 {
    width: 74.97%;
  }
  .col-lg-10 {
    width: 83.3%;
  }
  .col-lg-11 {
    width: 91.63%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media screen and (min-device-width: 992px) and (max-device-width: 1200px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 24.99%;
  }
  .col-md-4 {
    width: 33.32%;
  }
  .col-md-5 {
    width: 41.65%;
  }
  .col-md-6 {
    width: 49.98%;
  }
  .col-md-7 {
    width: 58.31%;
  }
  .col-md-8 {
    width: 66.64%;
  }
  .col-md-9 {
    width: 74.97%;
  }
  .col-md-10 {
    width: 83.3%;
  }
  .col-md-11 {
    width: 91.63%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 24.99%;
  }
  .col-sm-4 {
    width: 33.32%;
  }
  .col-sm-5 {
    width: 41.65%;
  }
  .col-sm-6 {
    width: 49.98%;
  }
  .col-sm-7 {
    width: 58.31%;
  }
  .col-sm-8 {
    width: 66.64%;
  }
  .col-sm-9 {
    width: 74.97%;
  }
  .col-sm-10 {
    width: 83.3%;
  }
  .col-sm-11 {
    width: 91.63%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (max-device-width: 768px) {
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 24.99%;
  }
  .col-xs-4 {
    width: 33.32%;
  }
  .col-xs-5 {
    width: 41.65%;
  }
  .col-xs-6 {
    width: 49.98%;
  }
  .col-xs-7 {
    width: 58.31%;
  }
  .col-xs-8 {
    width: 66.64%;
  }
  .col-xs-9 {
    width: 74.97%;
  }
  .col-xs-10 {
    width: 83.3%;
  }
  .col-xs-11 {
    width: 91.63%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
@font-face {
  font-family: 'brandico';
  font-style: normal;
  font-weight: normal;
  src: url('http://weloveiconfonts.com/api/fonts/brandico/brandico.eot');
  src: url('http://weloveiconfonts.com/api/fonts/brandico/brandico.eot?#iefix') format('eot'), url('http://weloveiconfonts.com/api/fonts/brandico/brandico.woff') format('woff'), url('http://weloveiconfonts.com/api/fonts/brandico/brandico.ttf') format('truetype'), url('http://weloveiconfonts.com/api/fonts/brandico/brandico.svg#brandico') format('svg');
}
.brandico-facebook:before {
  content: "\f300";
}
.brandico-facebook-rect:before {
  content: "\f301";
}
.brandico-twitter:before {
  content: "\f302";
}
.brandico-twitter-bird:before {
  content: "\f303";
}
.brandico-vimeo:before {
  content: "\f30f";
}
.brandico-vimeo-rect:before {
  content: "\f30e";
}
.brandico-tumblr:before {
  content: "\f311";
}
.brandico-tumblr-rect:before {
  content: "\f310";
}
.brandico-googleplus-rect:before {
  content: "\f309";
}
.brandico-github-text:before {
  content: "\f307";
}
.brandico-github:before {
  content: "\f308";
}
.brandico-skype:before {
  content: "\f30b";
}
.brandico-icq:before {
  content: "\f304";
}
.brandico-yandex:before {
  content: "\f305";
}
.brandico-yandex-rect:before {
  content: "\f306";
}
.brandico-vkontakte-rect:before {
  content: "\f30a";
}
.brandico-odnoklassniki:before {
  content: "\f30c";
}
.brandico-odnoklassniki-rect:before {
  content: "\f30d";
}
.brandico-friendfeed:before {
  content: "\f312";
}
.brandico-friendfeed-rect:before {
  content: "\f313";
}
.brandico-blogger:before {
  content: "\f314";
}
.brandico-blogger-rect:before {
  content: "\f315";
}
.brandico-deviantart:before {
  content: "\f316";
}
.brandico-jabber:before {
  content: "\f317";
}
.brandico-lastfm:before {
  content: "\f318";
}
.brandico-lastfm-rect:before {
  content: "\f319";
}
.brandico-linkedin:before {
  content: "\f31a";
}
.brandico-linkedin-rect:before {
  content: "\f31b";
}
.brandico-picasa:before {
  content: "\f31c";
}
.brandico-wordpress:before {
  content: "\f31d";
}
.brandico-instagram:before {
  content: "\f31e";
}
.brandico-instagram-filled:before {
  content: "\f31f";
}
/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
.icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
/* brandico */
